@font-face {
    font-family: HelveticaNeueCyr-Medium;
    src: url(../fonts/helveticaneuecyr-medium-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: HelveticaNeueCyr-Bold;
    src: url(../fonts/helveticaneuecyr-bold-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: HelveticaNeueCyr-Light;
    src: url(../fonts/helveticaneuecyr-light-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: HelveticaNeueCyr-Thin;
    src: url(../fonts/helveticaneuecyr-thin-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: HelveticaNeueCyr-Lightitalic;
    src: url(../fonts/helveticaneuecyr-lightitalic-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}