.header__about-bg {
    width: 100%;
    height: rem(500px);
    overflow: hidden;
    position: absolute;
    top: 0;
}

.header__about-bg__img {
    width: 100%;
    background-size: cover;
    position: relative;
    @include phones {
        height: 100%;
    }
}

.header__about-block {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    background-color: rgba(53, 53, 53, 0.48);
    padding: rem(25px);
    @include tablets {
        padding: rem(15px) rem(15px) 0;
    }
    @include phones {
        flex-direction: column;
    }
}

.header__about-block__title {
    border-left: rem(3px) solid #33cc33;
    text-transform: uppercase;
    color: $white;
    padding-left: rem(30px);
    font-size: rem(24px);
    margin-bottom: rem(20px);
}

.white {
    color: $white;
}

.header__about-block__left {
    width: 60%;
    @include phones {
        width: 100%;
        margin-bottom: rem(15px);
    }
}

.header__about-block__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    @include phones {
        width: 100%;
    }
}

.header__about-block__text {
    font-family: HelveticaNeueCyr-Light;
    font-size: rem(16px);
    color: $white;
    @include tablets {
        font-size: rem(14px);
    }
}

.header__about-block__form-title {
    color: $white;
    font-size: rem(24px);
    text-transform: uppercase;
    margin-bottom: rem(20px);
}

.header__about-block__form {
    padding: rem(30px);
}