.footer__block {
    max-width: rem(1100px);
    height: rem(285px);
    background: url("../img/footer_bg.jpg") no-repeat;
    padding: rem(30px);
    @include tablets {
        height: rem(250px);
        padding: rem(15px);
    }
    @include phones {
        padding: initial;
        height: rem(200px);
    }
}

.footer__block-item {
    width: 30%;
    height: 100%;
    margin-right: 5%;
    float: left;
    @include tablets {
        width: 35%;
    }
    @include phones {
        width: 40%;
        margin-right: initial;
    }
    &:last-child {
        margin-right: initial;
    }
}

.nav {
    border-left: rem(2px) solid $green;
    @include phones {
        border-left: initial;
    }
}

.footer__block-item__nav-list {
    margin: rem(20px) 0 0 rem(25px);
}

.footer__block-item__nav-item {
    margin-bottom: rem(10px);
}

.footer__block-item__nav-link {
    color: $white;
    text-decoration: none;
    font-family: HelveticaNeueCyr-Light;
    font-size: rem(16px);
}

.contacts {
    padding-left: rem(20px);
    border-left: rem(2px) solid $white;
    @include phones {
        width: 60%;
        border-left: rem(2px) solid $green;
    }
}

.logo {
    @include tablets {
        width: 20%;
    }
    @include phones {
        display: none;
    }
}

.footer__block-item__logo {
    width: rem(160px);
    height: rem(225px);
    @include tablets {
        width: rem(120px);
        height: rem(120px);
    }
}

.footer__block-logo-img {
    width: 100%;
    height: 100%;
}

.footer__block-item {
    color: $white;
    font-size: rem(16px);
    font-family: HelveticaNeueCyr-Light;
}

.footer__block-address {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: rem(20px) 0 rem(15px);
}

.footer__block-text__link {
    color: $white;
    font-size: rem(16px);
    font-family: HelveticaNeueCyr-Light;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: rem(20px) 0 rem(15px);
}

.footer__block-icon {
    width: rem(45px);
    height: rem(45px);
}

.footer__block-icon-img {
    width: 100%;
    height: 100%;
}

.footer__block-text {
    padding-left: rem(20px);
}

.footer__block-phone__icon,
.footer__block-email__icon {
    width: rem(30px);
    height: rem(30px);
}

.footer__block-phone,
.footer__block-email {
    display: flex;
    align-items: center;
    margin: rem(20px) 0 rem(20px) rem(10px);
}

.contact-email,
.contact-phone {
    @include phones {
        display: none;
    }
}